*{
    padding: 0vw;
    margin: 0vw;
}
body{
    background-image: url("img/fundo.png");
}


/* Começo header */
header{
    /* background-color: antiquewhite; */
    width: 100%;

}
header ol{
    display: flex;
  /* justify-content: center; */
    width: 100%;
    list-style: none;
    color: #000;
   
}
header img{
    max-width: 13vw;
}
header .txt{
    font-size: 2vw;
    margin: auto 2.8vw ;
    
    font-family: 'Fredoka One', cursive;
}
header #SBV{
    font-family: 'Vibur', cursive;
    font-size: 4vw;
}
header #search{
    margin-left: 7vw;
    font-size: 1.5vw;
    color:#fff;
    background-color: #FF1493;
    padding: 0.2vw 4vw 0.2vw 4vw;
    border-radius: 90px;
    
}
/* Fim Header */

/* Produtos */
.produtos{
    width: 100%;
}
.produtos ol{
    width: 100%;

    padding: 0vw 1vw;
    display: flex;
    /* justify-content:center ; */
    width: 100%;
    list-style: none;
    color: #fff;
    
}
.produtos img{
   margin-top: 1vw;
    max-width: 13vw;
}
.produtos .txt{
    max-width: 13vw;
    text-align: center;
    font-size: 1.5vw;
    padding: 0.5vw 1.1vw;
    background-color: #FF1493;
    border-radius: 90px;
    font-family: 'Fredoka One', cursive;
    margin: auto 1.6vw ;
}