*{
    padding: 0vw;
    margin: 0vw;
    /* max-width: 100%; */
}
body{
    background-image: url("img/fundo.png");
    overflow-x: hidden;
  
}


/* Começo header */
header ol li a {
    text-decoration: none;
    color: #000;
}
header{
    /* background-color: antiquewhite; */
    width: 100%;

}
header ol{
    display: flex;
  /* justify-content: center; */
    width: 100%;
    list-style: none;
    color: #000;
   
}
header img{
    max-width: 13vw;
}
header .txt{
    font-size: 2vw;
    margin: auto 2.8vw ;
    
    font-family: 'Fredoka One', cursive;
}
header #SBV{
    font-family: 'Vibur', cursive;
    font-size: 3.8vw;
    /* background-color: blanchedalmond; */
    
}
header #search {
    margin-left: 7vw;
    font-size: 1.5vw;
    border-style: none;
    background-color: #FF1493;
    padding: 0.6vw 2vw;
    border-radius: 90px;
    text-align: center;
}
header ::placeholder{
    color: #fff;
}
/* Fim Header */

/* Produtos */
 .produtos ol li a{
    text-decoration: none;
    color: #fff;
}
.produtos{
    width: 100%;
   /*  background-color: aqua; */
}
.produtos ol{
    width: 100%;

    padding: 0vw 1vw;
    display: flex;
    /* justify-content:center ; */
    width: 100%;
    list-style: none;
    color: #fff;
    
}
.produtos img{
   margin-top: 1vw;
    max-width: 13vw;
}
.produtos .txt{
    max-width: 13vw;
    text-align: center;
    font-size: 1.5vw;
    padding: 0.5vw 1.1vw;
    background-color: #FF1493;
    border-radius: 90px;
    font-family: 'Fredoka One', cursive;
    margin: auto 1.6vw ;
}
/* Fim */

.box-img-txt img{
    width: 100%;
    margin: 1.5vw 0vw;
}
h1{
    text-align: center;
    font-family: 'Fredoka One', cursive;
      font-size: 5.5vw;
      color: #000;
}
  /* Promo */
  h2{
      text-align: center;
    font-family: 'Fredoka One', cursive;
      font-size: 7vw;
      color: purple;
      
  }
  /* Final promo */

  /* Promo cards */
  .cont-cards{
     /*  background-color: pink; */
      max-width: 100%;
      margin: 1vw 0vw;
      padding: 2vw 0vw;
      display: flex;
      justify-content: space-around;
  }
  .card{
      opacity: 80%;
      min-width: 10vw;
      max-width: 25vw;
      background-color: white;
      display: grid;
      justify-content: center;
      padding: 1.5vw 2vw;
      border-radius: 2vw;
      box-shadow: #FF1493 4px 3px 6px 1px ;
  }
  .ol-card{
    font-family: 'Fredoka One', cursive;
      list-style: none;
      text-align: center;
      color: black;
      max-width: 25vw;
  }
  .ol-card li{
    max-width: 25vw;
      font-size: 2vw;
      margin-top: 2vw;
  }
  .img-card{
      max-width: 100%;
      margin: auto;
  }
  /* Final Promo cards */

  /* Começo do Footer */
footer{
    padding: 0.5vw 1vw;
    max-width: 100%;
    background-color: #00BFFF;
    display: flex;
    justify-content: space-between;
}
footer ol{
    list-style: none;
    text-align: center;
}
footer ol li{
    margin-bottom: 0.3vw;
    max-width: 50vw;
    
    /* background-color: purple; */
}
footer .title{
    font-family: 'Fredoka One', cursive;
    color:#fff;
    font-size: 2vw;
}
footer .sub-title{
    font-family: 'Fredoka One', cursive;
    color: #000;
    font-size: 2vw;
}
footer img{
    width: 10vw;
    /* min-width: 1vw; */
}
  /* Fim do Footer */