*{
    padding: 0vw;
    margin: 0vw;
}
body{
    background-image: url("img/fundo.png");
  max-width: 100%;
}


/* Começo header */
header{
    /* background-color: antiquewhite; */
    width: 100%;

}
header ol{
    display: flex;
  /* justify-content: center; */
    width: 100%;
    list-style: none;
    color: #000;
   
}
header img{
    max-width: 13vw;
}
header .txt{
    font-size: 2vw;
    margin: auto 2.8vw ;
    
    font-family: 'Fredoka One', cursive;
}
header #SBV{
    font-family: 'Vibur', cursive;
    font-size: 4vw;
    /* background-color: blanchedalmond; */
    
}
header #search {
    margin-left: 7vw;
    font-size: 1.5vw;
    border-style: none;
    background-color: #FF1493;
    padding: 0.6vw 2vw;
    border-radius: 90px;
    text-align: center;
}
header ::placeholder{
    color: #fff;
}
/* Fim Header */

/* Produtos */
.produtos{
    width: 100%;
   /*  background-color: aqua; */
}
.produtos ol{
    width: 100%;

    padding: 0vw 1vw;
    display: flex;
    /* justify-content:center ; */
    width: 100%;
    list-style: none;
    color: #fff;
    
}
.produtos img{
   margin-top: 1vw;
    max-width: 13vw;
}
.produtos .txt{
    max-width: 13vw;
    text-align: center;
    font-size: 1.5vw;
    padding: 0.5vw 1.1vw;
    background-color: #FF1493;
    border-radius: 90px;
    font-family: 'Fredoka One', cursive;
    margin: auto 1.6vw ;
}
/* Fim */
/* Começo CApa First */
.box-img-txt{
    position: relative;
}
.box-img-txt img{
    margin-top: 1.5vw;
    max-width: 100%;
}
.text-block {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    max-width: 35vw;
    font-size: 4.3vw;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: 2px solid black;
    color: black;
    padding: 0.3vw 2vw 0.3vw 2vw;
    margin-right: 4vw;
  }
  /* Fim CApa First */